.logo {
    width: 200px;
    margin-top: 0;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 200;
    font-size: 2em;
}

li {
    font-family: 'Source Code Pro', monospace;
}

.team,
.caption {
    font-family: 'Metamorphous', cursive;
    text-align: center;
}

h1.team {
    margin-top: 40px;
}

.team-list {
    text-align: center;
    list-style-type: none;
    margin-bottom: 70px;
    padding-left: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    background: #EFFA80;
    width: 90%;
    line-height: 1.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img1,
.caption {
    margin-top: 0;
}

img {
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}
